<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunicados</title>
    {% load static%}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-11 col1 ">
            </div>
            <div class="col-1 col2">
                <a href="/admin">Iniciar sesión</a>
            </div>
            <div class="col-12 col3">
                <h1>Comunicados</h1>
            </div>
            <div class="col-12 col4">
                <h4>Filtrar</h4>
                <h6>Por Nivel</h6>
            </div>
            <div class="col-12 col7">
                <form method="GET" action="{% url 'comunicados' %}">
                <button class="btn filter-button" value="all" id="btn" onclick="getSelection">Todos</button>
                <button class="btn filter-button" value="GEN" id="btn" onclick="getSelection">General</button>
                <button class="btn filter-button" value="PRE" id="nivel" onclick="getSelection">Ciclo Preescolar</button>
                <button class="btn filter-button" value="BAS" id="nivel">Ciclo Básico</button>
                <button class="btn filter-button" value="MED" id="nivel">Ciclo Medio</button>
                
                <br>
            </div>

            <div class="col-12 col5">
                <br>

                <h6>
                    Por Categoria
                </h6>
                {% for c in categorias %}
                <button class="btn btn-default filter-button " name="categoria" data-filter={{c.id}} onclick="{{getcategorias}}">{{c.nombre}}</button>
                {%endfor%}
            
            </div>
            </form>

            <div class="col-12 col6">
                <h4>Comunicados más recientes</h4>
                <ol>
                    
                    {% for c in comunicados %}
                    {{c.fecha_envio}}
                    <br>
                    {{c.titulo}}
                    <br>
                    {{c.detalle}}
                    <br>
                    {{c.nivel}}
                    <br>
                    {{c.publicado_por}}
                    <br>
                    <br>
                    {%endfor%}
                </ol>
            </div>

            </ol>
        </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>